<footer class="footer">
    <p>&copy; <%= new Date().getFullYear() %> Typed Rants. Complaints? Write your own blog.</p>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/shakshi-mittal-0bb674238"><img src="/linkedin.png" alt="linkedin"></a>
      <a href="https://github.com/Shakshi-Mittal/" target="_blank"><img src="/github.png" alt="github-icon" class="footer-icon"></a>
    </div>
  </footer>
  