<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= rant.title %></title>
</head>
<body>
  <h1><%= rant.title %></h1>

  <div class="tags">
    <% rant.tags.forEach(tag => { %>
      <span class="tag"><%= tag %></span>
    <% }) %>
  </div>

  <div class="content">
    <%= rant.content %>
  </div>
</body>
</html>
